.recipe__wrapper {
  justify-content: center;
  display: flex;
}

.recipe__card {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  max-width: 780px;
  margin: 0;
  background-color: hsl(0, 0%, 100%);
}

.recipe__card__image {
  border-radius: 25px;
  width: 780px;
  height: 300px;
}

.recipe__card__title {
  color: hsl(24, 5%, 18%);
  margin: 25px 0;
  font-size: 45px;
}

.recipe__card__description {
  color: hsl(30, 10%, 34%);
  font-size: 19px;
  max-width: 780px;
  margin: 0;
  text-align: left;
}
